---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

export const prerender = true;
export const title = "Welcome to Embloy's Astro example";
---

<Layout title={title}>
	<main>
		<h1>Welcome to Embloy's <span class="text-gradient">Astro</span> example</h1>
		<p class="instructions">
			Make sure to fetch a <strong>client_token</strong> first.<br />
			Check out the <code>src/pages</code> directory to get started.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/api/make_request"
				title="Job posting example"
				body="This is an example job advert that can be found on an Embloy customer's web page."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<button class="action-button" @click=${makeRequest}>Make Request</button>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>


<script setup>
	const makeRequest = async () => {
		try {
			const response = await fetch('/api/make_request');
			const data = await response.json();
			window.location.href = data.redirectUrl;
		} catch (error) {
			console.error('Error making request:', error);
		}
	};
</script>