<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .container {
            text-align: center;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome#index</h1>
        <p>Find me in app/views/welcome/index.html.erb</p>

        <%= form_tag("/api/request", method: "post") do %>
          <%= submit_tag("Apply with embloy") %>
        <% end %>
    </div>
</body>
</html>